<div class="outer-container group">
    <div class="container" id="about">
        <div class="about-title">
            <h1>About the Ocean Data Viewer</h1>
        </div>

        <div class="about-content group">
            <p>The <b>Ocean+ Data Viewer</b> offers users the opportunity to view and download a range of spatial datasets that are useful for informing decisions regarding the conservation, management and restoration of marine and coastal biodiversity. These decisions ultimately affect the ocean's health and productivity, which provide the ecosystem services that are necessary for our well-being, livelihoods, and survival. To date, the users of this tool have included government agencies, scientists, researchers, the private sector, and non-governmental organisations.</p>

            <p>These data come from internationally respected scientific institutions and other organisations that have agreed to make their data available to the global community, with the hope that these datasets will support and encourage informed decision-making that sustain global biodiversity and ecosystem services.</p>

            <p>The Ocean Data Viewer is primarily a mechanism to view and download data and is not intended to be used for analysis or to query data. Users are encouraged to analyse and query the spatial data after downloading, with any GIS software of your choice.  </p>

            <p><b><i>Are we missing data?</b></i> We welcome feedback and contributions of additional or corrected datasets. Please contact us at <a title= "email for ocean+ website" href="mailto:oceanplus@unep-wcmc.org">oceanplus@unep-wcmc.org</a>.</p>

            <p><b><i>What resources are available?</b></i><a title="link to homepage" href="https://data.unep-wcmc.org">Ocean+ Data Viewer</a> hosts a variety of global marine biodiversity datasets from a range of internationally renowned scientific and conservation organisations. We encourage data users to read the <a title="user manual" href="http://www.wcmc.io/atlasmanual"><i>Ocean+ Habitats User Manual</i></a> as an introduction to the various challenges, gaps and limitations that can be presented by coastal and marine datasets, and particularly by those at the global scale. Data users may also be interested in <a title="link to oceanplus habitat" href="https://habitats.oceanplus.org/">Ocean+ Habitats</a>, a platform which produces derived statistics and information on marine and coastal habitats and their levels of protection, providing decision makers with data on where protection is needed, which species are facing extinction risks, and how future conservation efforts should be prioritised. To find more ocean-related resources, our <a title="link to oceanplus library" href="https://library.oceanplus.org/">Ocean+ Library</a> platform provides a list of more than 180 known datasets, databases, and data portals containing marine and coastal data and information of biodiversity importance. If you have suggestions on how the <a title="link to homepage" href="https://data.unep-wcmc.org">Ocean+ Data Viewer</a> or any of our Ocean+ sites could be improved, or if you would like to suggest additional marine and coastal data sources, please contact us at <a title="link to email" href="mailto:oceanplus@unep-wcmc.org">oceanplus@unep-wcmc.org</a>.

            <h2>Frequently Asked Questions</h2>

            <p><b><i> What are the requirements for using these datasets?</b></i> <b>Please note that data users are obliged to cite the datasets they use, as outlined on the ‘dataset detail’ pages and in the associated ‘metadata’ sheets.</b> Users should also review the terms and conditions of use for each dataset before downloading.</p>

            <p><b><i>How can I search for datasets?</b></i> The ‘search and filter’ panel allows users to select datasets by keywords, publication dates, categories, formats or data types, and geographical ranges. Click on ‘reset’ to clear all filters and view the full list of datasets.</p>

            <p><b><i>Can I view multiple datasets at once?</b></i> More than one dataset may be selected, with the order of appearance depending on the order of selection. For example, if the user wishes to see ‘mangroves’ on top of ‘protected areas,’ then the ‘protected areas’ layer should be selected first, followed by  the ‘mangroves’ layer.</p>

            <p><b><i>How can I navigate the map?</b></i> Users can use the ‘hand’ to navigate the map. To zoom in and out, use the + and – buttons (top-right of the screen).</p>

            <p><b><i>Where can I find the version of the dataset?</b></i> Where applicable, versions are noted for each dataset on the main page and in the associated metadata and citation. Datasets that are new or have been updated within the last 30 days are highlighted using tags.</p>

            <p><b><i>Where can I download the data and find more information?</b></i> The ‘dataset detail’ page provides more information on a particular dataset, including a downloadable ‘metadata’ sheet, access to a ‘factsheet’ on the <a title="link to biodivertistya-z website" href="http://biodiversitya-z.org/">Biodiversity A-Z</a> website, access to the dataset in GIS format, a link to the dataset at <a title="link to arciGIS dataset" href="http://www.arcgis.com/home/group.html?owner=UNEP-WCMC-Global&title=UNEP-WCMC - Marine Programme">ArcGIS Online</a>, and policies of relevance. Please note the ‘use constraints’ for each dataset.</p>

            <div class="contact-info">
                <h2>Contact information</h2>

                <p>
                  UN Environment World Conservation Monitoring Centre<br/>
                  219 Huntingdon Road<br/>
                  Cambridge<br/>
                  CB3 0DL<br/>
                </p>

                <p>
                  Tel: +44 (0)1223 277314<br/>
                  Fax: +44 (0)1223 277136<br/>
                </p>

                <p><%= link_to "oceanplus@unep-wcmc.org", "mailto:oceanplus@unep-wcmc.org" %></p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .outer-container -->
