<div class="outer-container group">
    <div class="container" id="about">
        <div class="about-title">
            <h1>About Ocean Data Viewer</h1>
        </div>

        <div class="about-content group">
            <p>The purpose of the ‘Ocean Data Viewer’ is to provide access to a range of datasets of biodiversity importance.  These datasets provide a basis to help inform decisions that are important for the conservation of marine and coastal biodiversity. The main users for this tool include government agencies, scientists, researchers, the private industry, nongovernmental organisations, and other bodies interested in accessing marine and coastal datasets so as to better understand and conserve ocean biodiversity</p>

            <p>The Ocean Data Viewer is primarily a mechanism to view data and download them.  It is not intended to be used as an analysis or query tool.  </p>
            
            <p>The Ocean Data Viewer aims to demonstrate the importance of sharing the best available data of biodiversity importance, so that they are used for making decisions that ultimately affect the ocean, its health, productivity, and ecosystem services that we all rely on for our well-being, livelihoods and survival. The data come from a number of internationally respected organisations and scientific institutions who have agreed to make their data available to the global community, in order to support decision making around biodiversity and ecosystem services. <b>Data users are required to cite datasets as indicated on the ‘dataset detail’ pages and associated ‘metadata’ sheets.</b></p>
            
            We welcome feedback from data users, and contributions of additional/corrected datasets (<a href="mailto:marine@unep-wcmc.org">marine@unep-wcmc.org</a>). We encourage data users to read the ‘Manual of marine and coastal datasets of biodiversity importance’ (<a href="http://wcmc.io/MarineDataManual">http://wcmc.io/MarineDataManual</a>), as an introduction to the various challenges, gaps and limitation which can be presented by coastal and marine datasets, particularly global scale ones.
            
            <h2>Top tips for using the Ocean Data Viewer:</h2>
            
            <p>The ‘filter’ panel allows user to select datasets based on their publication date, their category, their format or type, and finally their geographical range. Click on ‘reset’ to clear all filters and view the full list of datasets. </p>
            
            <p>The tool allows the user to select multiple datasets for view. The order that a dataset appears on the map depends on the order the user selects it.  For example, if the user wishes to see ‘mangroves’ on top of ‘protected areas’, then the ‘protected areas’ layer should be selected first, followed by  the ‘mangroves’ layer.  </p>
            
            <p>Users can use the ‘hand’ to navigate the map. To zoom in and out, use the + and – buttons (top-right of the screen).</p>
            
            <p>The ‘dataset detail’ page provides more information on a particular dataset, including a downloadable ‘metadata’ sheet, access to a ‘factsheet’ on the <a href="http://biodiversitya-z.org/"></a>Biodiversity a-z</a>, access to the dataset in GIS format, a link to the dataset on <a href="http://www.arcgis.com/home/group.html?owner=UNEP-WCMC-Global&title=UNEP-WCMC - Marine Programme">ArcGIS Online</a>, and policy of relevance to the dataset. Please note the ‘use constraints’ for each dataset.</p>
            
            <p>Click on the central ‘Ocean Data Viewer’ title (at the top) to go back to the full dataset list.</p>
            
            <div class="contact-info">
                <h2>Contact information</h2>

                <p>
                  UNEP World Conservation Monitoring Centre,<br/>
                  219 Huntingdon Road,<br/>
                  Cambridge,<br/>
                  CB3 0DL.<br/>
                </p>

                <p>
                  Tel: +44 (0)1223 277314<br/>
                  Fax: +44 (0)1223 277136<br/>
                </p>

                <p><%= link_to "marine@unep-wcmc.org", "mailto:marine@unep-wcmc.org" %></p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .outer-container -->
