<div class="outer-container group">
    <div class="container" id="about">
        <div class="about-title">
            <h1>About Ocean Data Viewer</h1>
        </div>

        <div class="about-content group">
            <p>The Ocean Data Viewer provides easy access to a range of datasets that are useful for informing decisions regarding the conservation of marine and coastal biodiversity. These decisions ultimately affect the ocean's health and productivity, which provide the ecosystem services that are necessary for our well-being, livelihoods, and survival. To date, the users of this tool include government agencies, scientists, researchers, the private sector, and non-governmental organisations.</p>

            <p>The Ocean Data Viewer is primarily a mechanism to view and download data, and is not intended to be used as for analysis or to query data.  </p>
            
            <p>The data come from a number of internationally respected scientific institutions and other organisations that have agreed to make their data available to the global community to support and encourage better decision making with respect to biodiversity and ecosystem services. </p>
            
            <p><b>Please note that data users are obliged to cite the datasets they use, as outlined on the ‘dataset detail’ pages and in the associated ‘metadata’ sheets.</b> Users should also review the terms and conditions of use for each dataset before downloading.</p>
            
            <p>We welcome feedback from data users, and contributions of additional/corrected datasets (<a href="mailto:marine@unep-wcmc.org">marine@unep-wcmc.org</a>). We encourage data users to read the ‘Manual of marine and coastal datasets of biodiversity importance’ (<a href="http://wcmc.io/MarineDataManual">http://wcmc.io/MarineDataManual</a>) as an introduction to the various challenges, gaps and limitations which can be presented by coastal and marine datasets, and particularly by those at the global scale.</p>
            
            <h2>Top tips for using the Ocean Data Viewer:</h2>
            
            <p>The ‘filter’ panel allows user to select datasets based on their publication date, their category, their format or type, and finally their geographical range. Click on ‘reset’ to clear all filters and view the full list of datasets. </p>
            
            <p>The tool allows the user to select multiple datasets for view. The order that a dataset appears on the map depends on the order the user selects it.  For example, if the user wishes to see ‘mangroves’ on top of ‘protected areas’, then the ‘protected areas’ layer should be selected first, followed by  the ‘mangroves’ layer.  </p>
            
            <p>Users can use the ‘hand’ to navigate the map. To zoom in and out, use the + and – buttons (top-right of the screen).</p>
            
            <p>The ‘dataset detail’ page provides more information on a particular dataset, including a downloadable ‘metadata’ sheet, access to a ‘factsheet’ on the <a href="http://biodiversitya-z.org/">Biodiversity a-z</a>, access to the dataset in GIS format, a link to the dataset on <a href="http://www.arcgis.com/home/group.html?owner=UNEP-WCMC-Global&title=UNEP-WCMC - Marine Programme">ArcGIS Online</a>, and policy of relevance to the dataset. Please note the ‘use constraints’ for each dataset.</p>
            
            <p>Click on the central ‘Ocean Data Viewer’ title (at the top) to go back to the full dataset list.</p>
            
            <div class="contact-info">
                <h2>Contact information</h2>

                <p>
                  UNEP World Conservation Monitoring Centre,<br/>
                  219 Huntingdon Road,<br/>
                  Cambridge,<br/>
                  CB3 0DL.<br/>
                </p>

                <p>
                  Tel: +44 (0)1223 277314<br/>
                  Fax: +44 (0)1223 277136<br/>
                </p>

                <p><%= link_to "marine@unep-wcmc.org", "mailto:marine@unep-wcmc.org" %></p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .outer-container -->
