<div id="licence_content">
    <ul>
        <li class="gray detail">Ocean Data Viewer</li>
        <li class="information">About</li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="licence_content_information">

    <ul class="about first last">
        <li class="title">
            <p>Overview</p>
        </li>
        <li class="information">
            <p>The purpose of this Ocean Data Viewer is to provide an overview and access to a range of data, and relevant conventions, which are available to help inform decisions that are important for the conservation of marine and coastal biodiversity.  While this does not replace the need for national governments to continue reporting processes per their international commitments, it offers an opportunity to supplement existing knowledge bases, particularly with respect to globally significant data layers. The main users for this tool include government agencies, scientists, researchers, private industry, NGOs, and other bodies interested in accessing marine and coastal datasets which can be combined with other data layers for meaningful analyses that increase our understanding and effectiveness of ocean conservation and sustainable use. </p>

            <p>Brief introductions of key marine-relevant international conventions and initiatives, such as the Convention on Biological Diversity, the Ramsar Convention, and the World Summit on Sustainable Development, are included to guide the user to some of the most applicable globally-accessible marine datasets. Links to websites and even specific decisions or declarations are also included to assist the user with a greater understanding of the context of these international agreements.</p>
            <p>The Ocean Data Viewer also aims to demonstrate the importance of data sharing, accessibility and updating so that only the best available datasets are used for making decisions that ultimately affect the ocean, its health, productivity, and ecosystem services that we all rely on for our well-being, livelihoods and survival. Contributions of additional datasets or resources are encouraged using the contact details provided.</p>
        </li>
    </ul>
</div>

