<div id="licence_content">
    <ul>
        <li class="gray detail">Marine Data Viewer</li>
        <li class="information">Business</li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="licence_content_information">

    <ul class="about first last">
        <li class="title">
            <p>Description</p>
        </li>
        <li class="information">
            <p>This content is is still in development</p>
        </li>
    </ul>
</div>

