<div id="data_set_title">
    <ul>
        <li class="gray detail">Business</li>
        <li class="information">Marine Data Viewer</li>
        <li class="gray access"></li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="data_set_content">
    <div class="content_left">
        <ul>
            <li class="detail first">
                <p>Description</p>
            </li>
            <li class="information">
                <p>This content is is still in development</p>
            </li>
        </ul>
    </div>
</div>

