<div id="data_set_title">
    <ul>
        <li class="gray detail">Contact</li>
        <li class="information">Marine Data Viewer</li>
        <li class="gray access"></li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="data_set_content">
    <div class="content_left">
        <ul>
            <li class="detail first">
                <p>Details</p>
            </li>
            <li class="information">
                <p>
                    UNEP World Conservation Monitoring Centre,
                    219 Huntingdon Road,
                    Cambridge,
                    CB3 0DL.
                </p>

                <p>
                    Tel: +44 (0)1223 277314
                    Fax: +44 (0)1223 277136
                </p>

                <p><%= link_to "mads@unep-wcmc.org", "mailto:mads@unep-wcmc.org" %></p>
            </li>
        </ul>
    </div>
</div>

