<div id="licence_content">
    <ul>
        <li class="gray detail">Contact</li>
        <li class="information">Marine Assessment and Decision Support</li>
    </ul>
</div>

<div id="licence_content_information">
    <ul class="about first last">
        <li class="title">
            <p>Details</p>
        </li>
        <li class="information">
            <p>
              UNEP World Conservation Monitoring Centre,<br/>
              219 Huntingdon Road,<br/>
              Cambridge,<br/>
              CB3 0DL.<br/>
            </p>

            <p>
              Tel: +44 (0)1223 277314<br/>
              Fax: +44 (0)1223 277136<br/>
            </p>

            <p><%= link_to "marine@unep-wcmc.org", "mailto:marine@unep-wcmc.org" %></p>
        </li>
    </ul>
</div>

