.container#about {
  width: 745px;
}

.about-title {
  background:#E4E4DD;
  padding:20px;
  height: 100%;
}

.about-title h1 {
  font: 18px 'MuseoSans-500', 'Arial', sans-serif;
  color:#9F9F96;
}

.about-content {
  background: #fff;
  padding: 30px;
}

.about-content p {
  margin: 1em 0;
}

.about-content p:first-child {
  margin: 0 0 1em 0;
}

.about-content p:last-child {
  margin: 1em 0 0 0;
}

.about-content p a {
  text-decoration: none;
  color: #4295D5;
  border-bottom: 1px solid #4295D5; 
}

.about-content p a:hover {
  color: #377DB4;
  border-bottom: 1px solid #377DB4;
}
