.btn
  -webkit-appearance: none
  background: #4295D5
  border-radius: 5px
  color: #fff
  text-decoration: none
  text-align: center

.btn-white
  background: #fff
  border: 1px solid #4295D5
  color: #4295D5
