.datasets {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.datasets h1 {
  display: block;
  background: #E8E7E5;
  color: #6B6B6A;
  height: 40px;
  font: 16px/40px 'MuseoSans-500', sans-serif;
  line-height: 40px;
  padding: .15em 1em 0 1em;
}

.scroll-pane {
  width: 383px;
  height: 488px; /* 528px - 40px */
  background-color: #F8F7F4;
  overflow: auto;
}

.scroll-pane:focus { outline: none; }

.dataset-list li {
  cursor: pointer;
  border: 1px solid #ddd;
}

.dataset-list li + li {
  border-top: none;
}

.dataset-list li:hover, .dataset-list li.active {
  background-color: white;
}

.dataset-list li p {
  padding: 1em;
}

.dataset-list li.active p {
  border-right: 7px solid;
}

.dataset-list li p.text {
  color: #666666;
}

.dataset-list li p.text:hover {
  text-decoration: underline;
}

.dataset-list li.active.type21 p { border-right-color: #734c00; }

.dataset-list li.active.type22 p { border-right-color: #a8a800; }

.dataset-list li.active.type13 p { border-right-color: #FFAA00; }

.dataset-list li.active.type14 p { border-right-color: #A900E6; }

.dataset-list li.active.type6  p { border-right-color: #267300; }

.dataset-list li.active.type7  p { border-right-color: #55FF00; }

.dataset-list li.active.type8  p { border-right-color: #E6E600; }

.dataset-list li.active.type11 p { border-right-color: #66CC99; }

.dataset-list li.active.type9  p { border-right-color: #CD6666; }

.dataset-list li.active.type10 p { border-right-color: #A80000; }

.dataset-list li.active.type1  p { border-right-color: #CC66CC; }

.dataset-list li.active.type17 p { border-right-color: #99B3CC; }

.dataset-list li.active.type16 p { border-right-color: #E1E73D; }

.dataset-list li.active.type15 p { border-right-color: #399CF0; }

.dataset-list li.active.type4  p{ border-right-color: #98B285; }

.dataset-list li.active.type5  p{ border-right-color: #B9C47A; }

.dataset-list li.active.type3  p{ border-right-color: #B3C1D1; }

.dataset-list li.active.type19 p { border-right-color: #109489; }

.dataset-list li.active.type28 p { border-right-color: #ecd906; }

.dataset-list li.active.type27 p { border-right-color: #43c2d9; }

.dataset-list li.active.type26 p { border-right-color: #5c83c4; }

.dataset-list li.active.type29 p { border-right-color: #ff0000; }

.dataset-list li.active.type30 p { border-right-color: #59c3e2; }

.jspVerticalBar {
  left: 0;
}
