.dataset-title {
  overflow: hidden;
  width: 945px;
}

.dataset-title ul {
  overflow: hidden;
  display: table;
}

.dataset-title ul li {
  display: table-cell;
}

.dataset-title ul li.gray {
  width: 200px;
  padding: 20px 0 20px 20px;
  font: 13px 'MuseoSans-700', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #9F9F96;
  background:#E4E4DD;
  height: 100%;
}

.dataset-title ul li.information {
  width: 545px;
  background:#FAFAF7;
  font: 18px 'MuseoSans-500', 'Arial', sans-serif;
  color: #9F9F96;
  padding: 20px;
  height: 100%;
}

.dataset-content {
  width: 945px;
}

.content-left {
  width: 745px;
  overflow: hidden;
  float: left;
  background: #fff;
}

.content-left ul {
  width: 705px;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.content-left ul:last-child {
  padding-bottom: 40px;
  border-bottom: none;
}

.content-right {
  width: 200px;
}

.content-left ul li.detail {
  padding: 0 20px 0 0;
  float: left;
  width: 180px;
  text-transform: uppercase;
  font: 13px 'MuseoSans-700', 'Arial', sans-serif;
  color: #ccc;
}

.content-left ul li.information {
  float: right;
  padding: 0 10px 0 20px;
  width: 525px;
  color: #777;
}

.content-left ul li.information p {
  margin-bottom: 10px;
}

.content-left ul li.information p:last-child {
  margin-bottom: 0;
}

.content-right {
  float: right;
  width: 200px;
}

.dataset-box {
  background: #E4E4DD;
  border-top: 1px solid #D3D3CA;
  width: 200px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
}

.dataset-box div.buttons {
  border-bottom: 1px solid #D3D3CA;
  padding: 20px 0;
  width: 160px;
  margin: auto;
}

.dataset-box div.buttons a {
  display: block;
}

.dataset-box div.last-date {
  width: 160px;
  border-top: 1px solid #E3E3E3;
  margin: auto;
  padding: 15px 0;
}

.dataset-box h4 {
  text-transform: uppercase;
  font: 13px 'MuseoSans-700', 'Arial', sans-serif;
  color: #9F9F96;
  margin: 0 0 10px 0;
}

.dataset-box p.date {
  font: 27px 'MuseoSans-500', 'Arial', sans-serif;
  color: #999;
}

.content-left ul li.information ul {
  width: 100%;
  border-bottom: none;
  background: none;
  width: 525px;
  margin: 0;
  padding: 0;
}

.content-left ul li.information ul li {
  float: left;
  width: 100%;
  font: normal 13px;
  color: #333333;
  padding-bottom: 10px;
}

.content-left ul li.information ul li:last-child {
  padding-bottom:0;
}

.content-left ul li.information ul li a, .content-left ul li.information p a {
  text-decoration: none;
  color: #4295D5;
  border-bottom: 1px solid #4295D5;
}

.content-left ul li.information ul li a:hover, .content-left ul li.information p a:hover {
  color: #377DB4;
  border-bottom: 1px solid #377DB4;
}

.dataset-box a.download, .dataset-box a.straight_download,
.dataset-box a.factsheet, .dataset-box a.arcgis {
  background: #4295D5;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  font: 15px 'MuseoSans-300', 'Arial', sans-serif;
  text-align: center;
  line-height: 40px;
}

.dataset-box a.download:hover, .dataset-box a.factsheet:hover,
.dataset-box a.arcgis:hover {
  background: #377DB4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
