.related-datasets {
  padding: 5px 15px 10px;
}

.related-datasets ul {
  list-style-type: initial;
  margin-left: 1em;
}

.related-datasets ul li {
  margin: 1em 0;
  font-size: .85em;
}

.related-datasets ul li a {
  text-decoration: none;
  color: #E58600;
}

.related-datasets ul li a:hover {
  border-bottom: 1px solid #E58600;
}
