.related-datasets {
  padding: 20px;
  background: #eee;
  border-top: 1px solid #D3D3CA;
  width: 200px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
}

.related-datasets ul {
  list-style-type: none;
}

.related-datasets ul li {
  margin: 1em 0;
  font-size: .85em;
}

.related-datasets ul li:first-child {
  margin: 0 0 1em 0;
}

.related-datasets ul li:last-child {
  margin: 1em 0 0 0;
}

.related-datasets ul li a {
  text-decoration: none;
  color: #4295D5;
  border-bottom: 1px solid #4295D5;
}

.related-datasets ul li a:hover {
  color: #377DB4;
  border-bottom: 1px solid #377DB4;
}