footer {
  width: 100%;
  margin: 0;
  padding: 1.5em 3em;
}

footer > a { margin-right: 10px; }

footer a.wcmc_unep {
  float: right;
  background: asset-path('wcmc_logo.png') no-repeat 0 0;
  background-size: contain;
  width: 75px;
  height: 39px;
}

footer div.reserved {
  float: right;
  width: 125px;
  height: 31px;
  margin: 6px 30px 0 0;
}

footer p {
  float: right;
  margin: 0;
  font: normal 12px Arial;
  color: #666666;
}
