footer
  width: 100%
  margin: 0
  padding: 1.5em 3em

  & > a
    margin-right: 10px

  a.wcmc_unep
    float: right
    background: image-url('wcmc_logo.png') no-repeat 0 0
    background-size: contain
    width: 75px
    height: 39px

  .reserved
    float: right
    width: 125px
    height: 31px
    margin: 6px 30px 0 0

  p
    float: right
    margin: 0
    font: normal 12px Arial
    color: #666666
