.map-search
  float: left
  width: 286px
  color: #6B6B6A
  height: 1px

  h1
    background: #fbfbf9
    font-size: 13px
    border-right: none
    cursor: pointer
    border-right: 1px solid #ddd
    font-family: 'MuseoSans-700'
    transition: background .5s

    &.open-filters, &.reset-filters
      color: $blue

    &.open-filters
      text-transform: uppercase
      float: left

    &.reset-filters
      text-align: center
      font-family: 'MuseoSans-500'
      background: $light-blue

    &:hover
      background: $light-blue

  .icon-angle-circled-left
    color: $blue
    float: right

.filters-container
  width: 286px
  padding: 1.5em
  border: 1px solid #DDD
  border-width: 0 1px 1px 0
  background: #fff

.filters
  label
    display: inline-block

    &.first-level
      margin: 1.5em 0 .5em
      color: #999

    &.first
      margin-top: 0

  .btn
    width: 112px
    height: 28px
    line-height: 28px
    font-size: 12px
    vertical-align: middle
    margin-top: 1.5em

    & + .btn-white
      float: right

.filters, h1.close-filters
  max-width: 0
  overflow: hidden
  padding: 0
  opacity: 0
  transition: all 200ms

  &.visible
    max-width: 286px
    opacity: 1

h1.close-filters
  border: none

  &.visible
    padding: 0.15em 1em 0 1em
    border-right: 1px solid #ddd
    border-bottom: 1px solid #ddd

.filter-select
  background: #F8F7F4
  width: 100%
  border: 1px solid #ddd
  height: 30px
  line-height: 30px
  padding: 0 .3em 0 .75em
  cursor: pointer
  font-family: 'MuseoSans-500'

  .title-label
    text-transform: capitalize

  i
    color: $blue
    float: right

  &.active
    background: $light-blue
    color: $blue

.check-option label
  text-transform: capitalize

.options-container
  padding: .5em 1em
  border: 1px solid #ddd
  border-top: none

.options
  width: 100%
  overflow: hidden
  max-height: 0
  opacity: 0
  transition: max-height 200ms, opacity 200ms

  &.visible
    overflow: visible
    max-height: 500px
    opacity: 1

  .option, label
    cursor: pointer
    font-family: 'MuseoSans-500'

  .option
    margin: .75em 0

  label
    margin: .5em 0
    line-height: 1em

  input
    opacity: 0

    &:checked ~ label
      color: $blue

.checkbox
  display: inline-block
  vertical-align: middle
  position: relative
  top: -1.5px
  right: 15px
  width: 12px
  height: 12px
  background: #F8F7F4
  border: 1px solid #ddd
  border-radius: 2px
  margin-right: -.6em

  i
    color: $blue
    position: absolute
    top: -2.5px
    left: -2.6px
    display: none
    line-height: 0

.label-text
  display: inline-block
  vertical-align: middle
  max-width: 14.5em
  transition: color .5s

  &:hover
    color: $blue

input:checked + label .checkbox i
  display: block

input[type="text"].search-filter
  display: block
  margin: 0 0 15px 0
  width: 100%
  font-family: sans-serif
  font-size: 15px
  appearance: none
  box-shadow: none
  border-radius: none
  padding: 5px
  border: solid 1px #dcdcdc
  transition: box-shadow 0.3s, border 0.3s

input[type="text"]:focus.search-filter
  border: solid 1px #707070
  box-shadow: 0 0 5px 1px #969696