.map-search
  float: left
  width: 286px
  background: #fff
  border: 1px solid #ddd
  border-left: none
  color: #6B6B6A

  h1
    background: #fbfbf9

.filters
  padding: 1.5em
  border-top: 1px solid #ddd
  border-radius: 0
  -webkit-appearance: none

  label
    display: block
    color: #999
    margin: 1em 0

    &.first-level
      margin: 1.5em 0 .5em

    &.first
      margin-top: 0

  .btn
    width: 112px
    height: 28px
    line-height: 28px
    font-size: 12px
    vertical-align: middle
    margin-top: 1.5em

    & + .btn-white
      float: right

.filter-select
  background: #F8F7F4
  width: 100%
  border: 1px solid #ddd
  height: 30px
  line-height: 30px
  padding: 0 .3em 0 .75em

  i
    color:  #4295D5
    float: right
