<% content_for :map_controls do %>
  <% display_layers = false if display_layers.nil? %>
  <div ng-controller="SearchCtrl">
    <h1>
      Displaying
      <span ng-show="layers.length == 1">one dataset</span>
      <span ng-show="layers.length > 0">all datasets</span>
    </h1>

    <!-- class="jScrollPaneContainer jScrollPaneScrollable" -->
    <div id="scrollable_databases" class="scroll-pane">
      <ul class="dataset-list">
        <li ng-repeat="dataset in layers" ng-class="['type' + dataset.id, dataset.visible && 'active']">
            <div class="dataset-info" ng-click="toggleLayerVisibility(dataset)">
              <div>
                <a ng-href="{{ dataset.url }}" ng-bind="dataset.title" class="title"></a>
              </div>
              <span ng-show="dataset.creationDate" ng-bind="dataset.creationDate"></span>
              <span ng-show="dataset.categoriesNames" ng-bind="dataset.categoriesNames" class="category prepend-pipe"></span>
              <div>
                <span ng-show="dataset.format == 'polygon' || dataset.format == 'point' || dataset.format == 'raster'" ng-class="['capitalize', 'prepend-symbol', dataset.format]" ng-bind="dataset.format"></span>
                <div ng-show="dataset.format == 'point & polygon'" class="capitalize">
                  <span class="prepend-symbol point">Point + </span><span class='prepend-symbol polygon'>Polygon</span>
                </div>
              </div>
              <i class="icon-angle-circled-right"></i>
              <div ng-show="dataset.timeRange || dataset.observationType || dataset.dataProvider">
                <a ng-click="toggleMoreInfo(dataset); $event.stopPropagation();" ng-class="['arrow', dataset.showingMore ? 'arrow-less' : 'arrow-more']">
                  <i ng-class="dataset.showingMore ? 'icon-up-open' : 'icon-down-open'"></i>
                  <span ng-bind="dataset.showingMore ? 'Less' : 'More'"></span>
                </a>
              </div>
              <div class="additional-info" ng-show="dataset.showingMore">
                <span ng-show="dataset.timeRangeStart && dataset.timeRangeEnd">Time range: <span ng-bind="dataset.timeRange"></span></span>
                <span class="prepend-pipe capitalize" ng-show="dataset.observationType" ng-bind="dataset.observationType"></span>
                <span class='new-line' ng-show="dataset.dataProvider">Data provider: <span ng-bind="dataset.dataProvider"></span></span>
                <div class="buttons">
                  <a ng-show="dataset.shpDownload" ng-href="{{ dataset.url + '#download' }}">
                    <i class='icon-download'></i>
                  </a>

                  <a ng-show="dataset.factsheetUrl" ng-href="{{ dataset.url + '#factsheet' }}">
                    <i class='icon-doc-text'></i>
                  </a>

                  <a ng-show="dataset.arcgisLink" ng-href="{{ dataset.arcgisLink }}" class="icon-esri"></a>
                </div>
              </div> <!-- .additional-info -->
            </div>
        </li>
      </ul>
    </div>
  </div>
<% end %>
