<h1>Editing dataset</h1>

<%= render :partial => 'form' %>

<%= link_to 'show', [:admin, @datasets_decision], :class=> "button" %>
<%= link_to 'Back', admin_dataset_path(@datasets_decision.dataset), :class=> "button" %>
