.checkboxes {
  max-width: 62em;
}

.checkboxes input {
  position: initial;
  margin: 1.5em 0;
}

.checkboxes input + label {
  font-weight: normal;
  vertical-align: middle;
  margin: 0 1em;
  display: inline-block;
  width: 150px;
}

.long-text {
  width: 36em;
}
