<div id="licence_content">
    <ul>
        <li class="gray detail">Licence</li>
        <li class="information"><%= @licence.title %></li>
    </ul>
</div>

<a id="resize_map"></a>	
<div id="licence_content_information">

    <ul class="about first">
        <li class="title">
            <p>Description</p>
        </li>
        <li class="information">
            <p class="first"><%= @licence.body %></p>
        </li>
    </ul>
    <ul class="about last">
        <li class="title">
            <p>Updated at</p>
        </li>
        <li class="information">
            <p><%= @licence.updated_at.strftime('%d/%m/%y') %></p>
        </li>
    </ul>
    <span class="end_information"/>
</div>







	

