<h1>Editing dataset</h1>

<%= render partial: 'form' %>

<%= link_to 'View or edit Decision Associations', admin_dataset_datasets_decisions_path(@dataset), :class=> "button" %>
<%= link_to 'Show', [:admin, @dataset], :class=> "button" %>
<%= link_to 'Back', admin_datasets_path, :class=> "button" %>
