<div id="licence_content">
    <ul>
        <li class="gray detail">Ocean Data Viewer</li>
        <li class="information">Factsheets</li>
    </ul>
</div>

<div id="licence_content_information">
  <ul class="about first last">
    <li class="title">
      <p>Factsheet downloads</p>
    </li>
    <li class="information">
    <p>Supplementary information, metadata and attribute field descriptions for the spatial data available to download.</p>
    <p>Please note all factsheets require Acrobat Reader available from <a href='http://www.adobe.com'>www.adobe.com</a></p>
      <ul id='factsheets'>
        <% @datasets.each do |dataset| %>
          <li><%= link_to dataset.title, dataset.factsheet.url %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
