div#layout {
  margin:0 auto;
  width:945px;
  position:relative;
}

/*TOOLTIPS*/

div#download_tooltip {position:absolute; bottom:15px; left:-32px; background:url(../images/tooltips/bkg_little_tooltip.png) no-repeat 0 0; width:64px; height:32px; padding:9px 5px 5px 5px; font:bold 9px ; color:white; text-transform:uppercase; z-index:100; text-align:center; line-height:9px; display:none;}
div#factsheet_tooltip {position:absolute; bottom:15px; left:-32px; background:url(../images/tooltips/bkg_little_tooltip.png) no-repeat 0 0; width:64px; height:32px; padding:9px 5px 5px 5px; font:bold 9px ; color:white; text-transform:uppercase; z-index:100; text-align:center; line-height:9px; display:none;}
div#arcgis_tooltip {position:absolute; bottom:15px; left:-32px; background:url(../images/tooltips/bkg_little_tooltip.png) no-repeat 0 0; width:64px; height:32px; padding:9px 5px 5px 5px; font:bold 9px ; color:white; text-transform:uppercase; z-index:100; text-align:center; line-height:9px; display:none;}

div#info_tooltip {position:absolute; bottom:29px; left:-33px; width:160px; height:auto; z-index:500; display:none;}
div#info_tooltip span.head {float:left; background:url(../images/tooltips/bkg_head_info.png) no-repeat 0 0; width:135px; height:14px; padding:10px 10px 0 15px; position:relative; margin:0;}
div#info_tooltip span.head a.close {position:absolute; bottom:10px; right:0; width:33px; height:33px; cursor:pointer; z-index:550; background:url(../images/tooltips/close_tooltip_bttn.png) no-repeat 0 0;}
div#info_tooltip span.head a.close:hover {background-position:0 -33px;}
div#info_tooltip div.content {float:left; position:relative; width:100%; height:auto; }
div#info_tooltip span.content {float:left; background:url(../images/tooltips/bkg_content_info.png) repeat-y; height:auto; width:120px; bottom:0; left:0; padding:5px 25px 5px 15px; margin:-1px 0 0 0;}
div#info_tooltip span.content span.line {float:left; width:123px; background-color:#ECECEC; height:1px; margin:7px 0 0 0;}
div#info_tooltip span.content a.match {float:left; font:normal 11px ; color:#E58800;  width:auto; height:auto; margin:0 5px 0 0;}
div#info_tooltip span.content a.match:hover {color:#C87500;}
div#info_tooltip span.content p.info {font:normal 11px ; color:#666666; width:auto; }
div#info_tooltip p.title {float:left; font:normal 10px ; color:#BABABA; text-transform:uppercase; width:123px; padding:5px 0 0 0;}
div#info_tooltip span.bottom {float:left; background:url(../images/tooltips/bkg_bottom_info.png) no-repeat 0 0; height:23px; width:100%; margin:-1px 0 0 0;}

/*END - TOOLTIPS*/

div#data_set_content div.content_right div.data_set_box a.download {background:url(../images/download_button.png) no-repeat 0 0; width:185px; height:40px; margin:0;}
div#data_set_content div.content_right div.data_set_box a.straight_download {background:url(../images/download_button.png) no-repeat 0 0; width:185px; height:40px; margin:0;}
div#data_set_content div.content_right div.data_set_box a.download:hover {background-position:0 -40px;}
div#data_set_content div.content_right div.data_set_box a.factsheet {background:url(../images/factsheet_button.png) no-repeat 0 0; width:185px; height:40px; margin: 14px 0 0 0;}
div#data_set_content div.content_right div.data_set_box a.factsheet:hover {background-position:0 -40px;}
div#data_set_content div.content_right div.data_set_box a.arcgis {background:url(../images/arcgis_button.png) no-repeat 0 0; width:185px; height:40px; margin:14px 0 0 0;}
div#data_set_content div.content_right div.data_set_box a.arcgis:hover {background-position:0 -40px;}

div#data_set_content div.content_right div.related_datasets {float:left; width:236px; height:auto; margin:20px 0 0 20px;}
div#data_set_content div.content_right div.related_datasets h4 {float:left; font:bold 15px ; color:#666666;}
div#data_set_content div.content_right div.related_datasets ul.links {float:left;}
div#data_set_content div.content_right div.related_datasets ul li {float:left; margin:15px 10px 0 0; width:171px; background:url(../images/li_style_info.png) no-repeat 0 5px; padding:0 0 0 13px; font:normal 13px ; color:#333333;}
div#data_set_content div.content_right div.related_datasets ul li a {text-decoration:none; color:#E58600; border-bottom:1px solid #E58600;}
div#data_set_content div.content_right div.related_datasets ul li a:hover {color:#C87500;}


/* LICENCE PAGE */
div#licence_content {z-index:5; width:945px; height:64px;}
div#licence_content ul {float:left; width:945px;}
div#licence_content ul li.gray {padding:20px 0 0 20px; font:bold 21px ; color:white;  height:45px; text-shadow:2px 1px 0px #3D3D3D; }
div#licence_content ul li.detail {float:left; background:url(../images/left_head_datasets.png) no-repeat 0 0; width:251px; margin:11px 0 0 0;}
div#licence_content ul li.information {float:left; background:url(../images/bkg_head_content_datasets.png) no-repeat 0 0; width:654px; height:52px; font:bold 24px ; color:#999999; padding:25px 0 0 20px;}


div#licence_content_information {float:left; width:945px; margin:3px 0 0 0; height:auto; position:relative; padding:0;}
div#licence_content_information ul.about {float:left; width:933px; border-bottom:1px solid #CCCCCC; height:auto; background:url(../images/bkg_datasets.jpg) repeat-y; border-top:1px solid #FFFFFF; }
div#licence_content_information ul.about.first {border-top:none;}
div#licence_content_information ul.about.last {border-bottom:none;}
div#licence_content_information ul.about li.title {float:left; height:auto; padding:12px 10px 12px 12px; width:249px; position:relative; height:auto; margin:0;}
div#licence_content_information ul.about li.title p {font:bold 15px ; color:#666666; width:933px;}
div#licence_content_information ul.about li.title.first {border:none;}
div#licence_content_information ul.about li.title span {font:normal 14px Georgia; color:#999999;}

div#licence_content_information ul.about li.information {float:left; width:648px; height:auto; padding:0 0 15px 0;}

div#licence_content_information ul.about li.information p {float:left; font:normal 13px ; color:#666666; margin:10px 0 0 20px; width:633px; height:auto;}
div#licence_content_information ul.about li.information p.title {font:bold 15px ; color:#999999; /*text-transform:uppercase;*/ margin:18px 0 0 20px;}
div#licence_content_information ul.about li.information p.first {margin:2px 0 0 20px;}
div#licence_content_information ul.about li.information p a {text-decoration:none; color:#E58600; /*border-bottom:1px solid #E58600;*/}
div#licence_content_information ul.about li.information p a:hover {color:#C87500;}

/* ************************* */

div#error_flash {
  background: #FFC;
  border-bottom: 2px solid #F90;
  color: #F90;
  font: normal normal normal 13px/normal ;
  padding: 12px 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.olLayerGoogleCopyright {
  top: -100000px;
}

#factsheets {
  clear:both;
  margin-top: 80px;
  margin-left: 40px;
  list-style-type: disc;
}

#factsheets a {
  text-decoration:none;
  color: #E58600;
}
