*
  margin: 0
  padding: 0
  font-weight: normal

img, fieldset, button
  border: none
  padding: 0
  margin: 0

ul
  list-style: none

a:focus, button:focus
  outline: none

body
  font: 13px 'MuseoSans-300', 'Arial', sans-serif
  color: #666
  background: #e2e2e2

body *
  box-sizing: border-box

.group:before,
.group:after
  content: ""
  display: table

.group:after
  clear: both

.capitalize
  text-transform: capitalize

.outer-container
  background: #F8F7F4
  position: relative

.container
  overflow: hidden
  width: 945px
  margin: 0 auto 60px
  border-radius: 5px
  font-size: 15px
  line-height: 20px
  position: relative
  top: -50px
  z-index: 99999
