<aside class="faqs">
  <h4>Why are Ocean+ Data Viewer and Ocean+ Library being retired?</h4>

  <p>Ocean+ Data Viewer and Ocean+ Library have long been trusted sources of marine data. However, the development of
    newer platforms with superior functionality, usability, and data curation means that there are now better alternatives
    for accessing marine data.</p>
  <p>Retiring Ocean+ Data Viewer and Ocean+ Library will enable us to focus on the most impactful areas of Ocean+, like <a
      target="_blank" href="https://habitats.oceanplus.org/">Ocean+ Habitats</a>. It will also allow us to direct users to more up-to-date
    platforms that are better able to meet their needs, like <a target="_blank" href="https://unbiodiversitylab.org/en/">UN Biodiversity
      Lab</a>, <a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/index.html">UNEP-WCMC GIS Portal</a>, and the <a
      target="_blank" href="https://www.proteuspartners.org/">Proteus website</a> for members of the <a
      target="_blank" href="https://www.proteuspartners.org/">Proteus Partnership</a>.</p>
  <p>With the exception of a small number of datasets that have been superseded by newer datasets (see Which Ocean+ Data
    Viewer datasets will no longer be available?), all of the marine datasets on Ocean+ Data Viewer and Ocean+ Library
    will still be available through these alternative platforms.</p>
  <p>To share any questions or concerns you may have about this transition, please respond to the surveys available on the
    Ocean+ Data Viewer and Ocean+ Library websites.</p>
  <h4>When will Ocean+ Data Viewer and Ocean+ Library be retired?</h4>
  <p>Both will be retired in early 2025.</p>
  <h4>Where can I find the information that was hosted on Ocean+ Library?</h4>
  <p>A full copy of the Ocean+ Library database will now be available to download on the <a
      target="_blank" href="https://resources.unep-wcmc.org/products/WCMC_DT007">UNEP-WCMC Resources</a> page.</p>

  <h4>Where can I find or view the datasets that were hosted on Ocean+ Data Viewer?</h4>

  <p>Ocean+ Data Viewer's datasets are now openly available through the <a
      target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/gallery.html?view=grid&amp;sortOrder=desc&amp;sortField=relevance&amp;tags=ocean%2B">Ocean+
      tag on UNEP-WCMC GIS Portal</a>. This is our recommended platform for users who wish to download the data, view
    single map layers (members of the <a target="_blank" href="https://www.proteuspartners.org/">Proteus Partnership</a> can view multiple
    map layers when logged in), or who already have GIS expertise.</p>
  <p>Otherwise, if you are not a Proteus Partnership member but still wish to view multiple data layers on a map, many of
    Ocean+ Data Viewer's datasets will be openly available to view (with enhanced usability) on <a
      target="_blank" href="https://map.unbiodiversitylab.org/">UN Biodiversity Lab</a>. Apart from these Ocean+ datasets, <a
      target="_blank" href="https://map.unbiodiversitylab.org/">UN Biodiversity Lab</a> also contains a large variety of other marine and
    terrestrial maps and is regularly updated with the most recent quality data.</p>
  <p>A full list of datasets and their availability can be found below.</p>

  <table class="faq-table">
    <colgroup>
      <col class="faq-table__column-dataset" />
      <col class="faq-table__column-availability" />
      <col class="faq-table__column-availability" />
    </colgroup>
    <thead>
      <tr>
        <th>Dataset</th>
        <th>UN Biodiversity Lab availability</th>
        <th>UNEP-WCMC GIS Portal availability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A global biophysical typology of mangroves</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=a-global-biophysical-typology-of-mangroves_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=6688fafdbbd84b59850cdf07c406cf24">Yes</a>
        </td>
      </tr>
      <tr>
        <td>A Modelled Global Distribution of the Seagrass Biome</td>
        <td>No</td>
        <td>Link available soon</td>
      </tr>
      <tr>
        <td>Global Critical Habitat Screening Layer (Published)</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=global-critical-habitat-screening-layer_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=77c18300cc28469097fa92ba47b3f278">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Atlantic Spotted Dolphins</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=a8c6420fa80843f6bfa3b6cfb57f442e">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Bowhead Whales</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=97909d30d08848159eecc28e0fa3bc5e">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Cold-water Corals</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=global-distribution-of-cold-water-corals_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=fb9b160602e84a139ffc4fc16cf74bfc">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Coral Reefs</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=0613604367334836863f5c0c10e452bf">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Grey Seals</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=d5fb746a6beb4774b846a75de6967f2f">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Hawaiian Monk Seals</td>
        <td>No</td>
        <td><a
            target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=eb5d84d67c2448f8971802767ab0c5cc&amp;fromSearch=true&amp;searchPosition=1&amp;searchTerm=Global%20Distribution%20of%20Hawaiian%20Monk%20Seals">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Hector's Dolphins</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=8bdc597b10ba4ae4b6412e297ea6143f">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Mangroves USGS</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=c1ab54bba4184c49ac7831c915106aec">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Melon-Headed Whales</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=36c329918fb344bbb0a3bf7529d8a1d1">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Modelled Mangrove Biomass</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=global-distribution-of-modelled-mangrove-biomass-01_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=096da1d43ecf47f1a8c5789d3f638264">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Northern Bottlenose Whales</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=3033d6e8c477450681afffc770402cce">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Northern Fur Seals</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=b321df335f714c129986ce546cf76c25">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Saltmarshes</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=addd1baa160c4d318b84c3b714d3e583">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Sea Turtle Feeding Sites</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=7ca98ae1c27b4ce08e00b5cfa2bfbd8d">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Sea Turtle Nesting Sites</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=72ab79ba57a146c58d05e826f75c8833">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Seagrasses</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=30.7708538,19.9829568,1&amp;layers=global-distribution-of-seagrasses-01_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=aaa46cd3d3d640b2916b8f0a0ffe07cb">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Seamounts and Knolls</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=4490b872250548a79e8c96da199be5f4">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Sei Whales</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=9642f309229c4667a29a5c0cc97c8034">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Sperm Whales</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=35dd52a5d227468a98db781b6437966e">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distribution of Tidal Flat Ecosystems</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=498a5fe5db454f1f92342b14ceda1058">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Distributions of Habitat Suitability for Cold-Water Octocorals</td>
        <td>No</td>
        <td>Link available soon</td>
      </tr>
      <tr>
        <td>Global Estuary Database</td>
        <td>No</td>
        <td>Link available soon</td>
      </tr>
      <tr>
        <td>Global Mangrove Watch (1996 - 2020)</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=gmw-mangrove-forests-parent_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=5e72c1881c524cd4bd0ca28a809514a2">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Patterns of Marine Biodiversity</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=6e4991c32b574e6597e66a80af076955">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Global Seagrass Species Richness</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=917c4dc3350e4ef7bffd8ef583247e6d">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Marine Ecoregions and Pelagic Provinces of the World (2007, 2012)</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=80567b4443f4457b822f645a2f0d70cf">Yes</a>
        </td>
      </tr>
      <tr>
        <td>Mean Annual Sea Surface Chlorophyll-a Concentration (2009-2013)</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Mean Annual Sea Surface Temperature (2003-2007)</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Mean Annual Sea Surface Temperature (2009-2013)</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Mean Sea Surface Productivity in December (2003-2007)</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Mean Sea Surface Productivity in June (2003-2007)</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Modelled Global Distribution of the Kelp Biome</td>
        <td>No</td>
        <td>Link available soon</td>
      </tr>
      <tr>
        <td>Reefs at Risk Revisited</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=4b411a9709ea4b0da4ad97a6e19a48e0">Yes</a>
        </td>
      </tr>
      <tr>
        <td>World Atlas of Mangroves</td>
        <td>No</td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=90af246c151342919af0aaad66275db4">Yes</a>
        </td>
      </tr>
      <tr>
        <td>World Database on Protected Areas</td>
        <td><a
            target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=30.7708538,19.9829568,1&amp;layers=wdpa-protected-areas_100">Yes</a>
        </td>
        <td><a target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/item.html?id=1919c32890074ce5a589a1a99b48994b">Yes</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Which Ocean+ Data Viewer datasets will no longer be available?</h4>

  <p>As part of the transition to <a target="_blank" href="https://unbiodiversitylab.org/en/">UN Biodiversity Lab</a> and <a
      target="_blank" href="https://data-gis.unep-wcmc.org/portal/home/index.html">UNEP-WCMC GIS Portal</a>, a small minority of datasets
    will be retired and not available on either platform. These are:</p>
  <ul>
    <li>
      <p>Mean Annual Sea Surface Chlorophyll-a Concentration (2009-2013)</p>
    </li>
    <li>
      <p>Mean Annual Sea Surface Temperature (2003-2007)</p>
    </li>
    <li>
      <p>Mean Annual Sea Surface Temperature (2009-2013)</p>
    </li>
    <li>
      <p>Mean Sea Surface Productivity in December (2003-2007)</p>
    </li>
    <li>
      <p>Mean Sea Surface Productivity in June (2003-2007)</p>
    </li>
  </ul>
  <p>In each case these have been superseded by newer datasets that contain other advantages, like greater temporal
    coverage. These alternatives can be found at:</p>
  <ul>
    <li>
      <p>Chlorophyll-a: <a
          target="_blank" href="https://map.unbiodiversitylab.org/earth?basemap=grayscale&amp;coordinates=20,0,2&amp;layers=chlorophyll-a-concentration-in-seawater-1998-2023_100">Chlorophyll-a
          concentration in seawater 1998-2023</a> on UN Biodiversity Lab</p>
    </li>
    <li>
      <p>Sea surface temperature: <a target="_blank" href="https://neo.gsfc.nasa.gov/view.php?datasetId=MYD28M">Sea Surface Temperature
          (MODIS, 2002+)</a> at Nasa Earth Observations</p>
    </li>
    <li>
      <p>Sea surface productivity: <a href="http://orca.science.oregonstate.edu/npp_products.php">NPP Products</a> on the
        Oregon State University Ocean Productivity website</p>
    </li>
  </ul>

  <h4>Will all datasets have the same use restrictions and licenses as when they were hosted on Ocean+ Data Viewer?</h4>

  <p>Yes, nothing has changed with respect to use and licensing. For all licensing enquiries, please contact <a
      href="mailto:oceanplus@unep-wcmc.org">oceanplus@unep-wcmc.org</a>.</p>

  <h4>Will the retirement of Ocean+ Data Viewer and Ocean+ Library have any effect on Ocean+ Habitats?</h4>

  <p>No, Ocean+ Habitats is not affected by these changes.</p>
  <p>If you have any queries about the site changes that were not answered here, please contact us at <a
      href="mailto:oceanplus@unep-wcmc.org">oceanplus@unep-wcmc.org</a>.</p>
</aside>
